{% load static %}

<script type="text/javascript" src="{% static 'js/UserGroupsHelper.js' %}"></script>
<script type="text/javascript" src="{% static 'js/can.js' %}"></script>
<script>
    var allPermissions = null, entities = null, searchRows = null, allGroups = null, allEntties = null, userGroups = null;
    loadRightsPage();
</script>

<h2>Manage rights</h2>

<h3>Permissions per entity</h3>

<input type="text" id="searchField" onkeyup="searchByField('#tbodypermissions')" placeholder="Search..." size="35" maxlength="35">

<form>
  <table class="table table-hover">
      <thead>
          <tr>
              <th scope="col">#</th>
              <th scope="col">Entity id</th>
              <th scope="col">Permission name</th>
              <th scope="col">Is private</th>
              <th scope="col">User/Group</th>
              <th scope="col">DELETE</th>
          </tr>
      </thead>
      <tbody id="tbodypermissions">
      </tbody>
  </table>

  {% include "modal_permissions.html" %}
  <button type="button" class="btn btn-warning" data-toggle="modal" id="addpermissionbtn" data-target="#addpermission">Add permission</button>

  <h3>Groups</h3>

  <table class="table table-hover">
      <thead>
          <tr>
              <th scope="col">#</th>
              <th scope="col">Group name</th>
              <th scope="col">Delete</th>
          </tr>
      </thead>
      <tbody id="tbodygroups">
      </tbody>
  </table>
  {% include "modal_group.html" %}
  <button type="button" class="btn btn-warning" data-toggle="modal" id="addgroupbtn" data-target="#addgroup">Add group</button>
  {% include "modal_add_user_to_group.html" %}
  <button type="button" class="btn btn-warning" data-toggle="modal" id="addusertogroup" data-target="#addusertogroup_modal">Add user to group</button>
  {% include "modal_remove_user_from_group.html" %}
  <button type="button" class="btn btn-danger" data-toggle="modal" id="removeuserfromgroup" data-target="#removeuserfromgroup_modal">Remove user from group</button>
</form>
