<div class="modal fade" id="addgroup" tabindex="-1" role="dialog" aria-labelledby="addgrouplabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addgrouplabel">Add group</h5>
        <button type="button"  class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="group_name">Enter group name:</label>
            <input type="text" id="group_name">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-success" onclick="post_group()">Add group</button>
      </div>
    </div>
  </div>
</div>