<div class="modal fade" id="addpermission" tabindex="-1" role="dialog" aria-labelledby="addpermissionlabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addpermissionlabel">Add permission</h5>
        <button type="button"  class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="entity-name" class="col-form-label">Select entity:</label>
            <select class="form-select form-select-lg mb-3" id="entity-name" aria-label="Default select example">
            </select>
          </div>
          <div class="form-group">
            <label for="group-name" class="col-form-label">Select group:</label>
            <select class="form-select form-select-lg mb-3" id="group-name" aria-label="Default select example">
            </select>
            <label for="username_all_permissions" class="col-form-label">or input username:</label>
            <input type="text" class="form-control-sm" id="username_all_permissions" />
          </div>
          <div class="form-group">
            <label for="permission-name" class="col-form-label">Select permission:</label>
            <select class="form-select form-select-lg mb-3" id="permission-name" aria-label="Default select example">
            </select>
            <input type="checkbox" id="use_username" />
            <label for="use_username">Add by username</label>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        <button type="button" id="postpermission" onclick="post_permission(this)" class="btn btn-success">Add permission</button>
      </div>
    </div>
  </div>
</div>