<form action="/permissions/add_group" method="POST">
  <div class="modal fade" id="addgroup" tabindex="-1" role="dialog" aria-labelledby="addgrouplabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addgrouplabel">Add group</h5>
          <button type="button"  class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="group-name" class="col-form-label">Select group:</label>
              <select class="form-select form-select-lg mb-3" id="group-name" aria-label="Default select example">
              </select>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
          <button type="submit" id="postgroup" class="btn btn-success">Add group</button>
        </div>
      </div>
    </div>
  </div>
</form>